APP_ENVIRONMENT=development
APP_LOG_LEVEL=INFO
APP_SESSION_TTL_SECONDS=86400
SECRETS_DIR=./secrets
SECRETS_GID=10001
APP_SESSION_SECRET_FILE=/run/secrets/session_secret
APP_DATABASE_DSN_FILE=/run/secrets/app_database_dsn
LEGACY_DATABASE_DSN_FILE=/run/secrets/legacy_database_dsn
PREFECT_API_URL=http://prefect-server:4200/api
PREFECT_PORT=4200
PREFECT_SERVER_UI_API_URL=http://127.0.0.1:4200/api
PREFECT_API_AUTH_STRING_FILE=/run/secrets/prefect_api_auth
PREFECT_DATABASE_DSN_FILE=/run/secrets/prefect_database_dsn
REDIS_URL_FILE=/run/secrets/redis_url
REDIS_PASSWORD_FILE=/run/secrets/redis_password
REDIS_ACL_FILE=/run/secrets/redis_acl
NOCODB_BASE_URL=https://nocodb.example.com
NOCODB_TOKEN_FILE=/run/secrets/nocodb_token
NOCODB_EMPLOYEE_TABLE_ID=mhwyla9uh1ici8j
NOCODB_DATABASE_DSN_FILE=/run/secrets/nocodb_database_dsn
NOCODB_BASE_ID=pc38r6u1npuq0ul
GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/google_service_account.json
GOOGLE_IOT_SPREADSHEET_ID=1bzAndOjRR-9GOrB8a2_FD5ayE5uPLLrg7gK4bKcmKbo
GOOGLE_IOT_SHEET_NAME=Master Support Ticket MS
TIMESHEET_WEEKDAY_ACTIVITY=P01-Development
TIMESHEET_WEEKEND_ACTIVITY=L05-Public Holiday
TIMESHEET_IOT_ACTIVITY=P05-Support
TIMESHEET_DEFAULT_PROJECT=MTG/PR/202301/000100-Pamapersada Nusantara-Talent Force Jan-Dec 2026-for PAMA
SQLSERVER_CONNECTION_STRING_FILE=/run/secrets/sqlserver_connection_string
OUTBOUND_TIMEOUT_SECONDS=30
DIGITAL_BAST_RUN_CONTEXT_FACTORY=digital_bast.flows.production:create_run_context
DIGITAL_BAST_DISABLED_OPERATIONS=attendance-import,redmine-import
